
.app__main {
  display: flex;
  gap: 2rem;
}



.app__login {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.app__login>button{
  border: none;
  font-size: 24px;    
  background-color: rgb(67, 130, 244);
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  transition: all 0.2s;
}

.app__login>button:hover{
  cursor: pointer;
  background-color: rgb(49, 94, 179);
  transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
  .header {
    gap: 0px;
}

.sidebar {
  width: 26%;
  height: calc(100vh - 60px);
  margin-right: 0px;
}

.sidebar__itemsContainer {
  margin-left: 0px;
}

.fileCard {
  height: 127px;
  width: 105px;
}

.fileCard--bottom>p {
 
  white-space: -wrap;
}
.fileCard--top>svg{
  font-size: 70px;
}

.fileView__titles > div > p {
  color: rgb(42, 40, 40);
  font-size: 1rem;
  font-weight: 600;
}
}